---
import Layout from "../layouts/Layout.astro";
---

<Layout>

<h1 class="text-center text-[72px] mt-50 mb-10" 
    style="font-family: 'Climate Crisis', sans-serif;
           -webkit-text-stroke: 153px;
           -webkit-text-stroke-image: linear-gradient(33deg, #0000FF, #FF00C8, #7B00FF);
           -webkit-text-stroke: 20px;
           -webkit-text-fill-color: white;
           color: white;">
  Ethan
  <br />
  HENNEQUIN DE MEYER
</h1>
</Layout>
