---
import "../styles/global.css";
import fond1 from "../assets/fond1.webp";
import Header from "../components/header.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body
    class="bg-fixed bg-cover bg-center bg-no-repeat"
    style={`background-image: url('${fond1.src}');`}
  >
    <Header />

    <slot />
  </body>
</html>
